<div class="flex flex-col md:flex-row items-start gap-4">
    <form (submit)="handleSubmit($event)" class="w-full md:w-auto md:min-w-[500px] md:max-w-[500px]">
        <div class="flex flex-col gap-1">
            <input
                class="h-12 px-4 py-2 text-lg rounded-md bg-zinc-800 border-2 border-transparent hover:border-gray-600 focus:border-gray-500 transition-colors duration-200 ease-in-out outline-none"
                placeholder="Enter a financial number. ex: 250k" type="text"
                [formControl]="financialNumber" />
            <div *ngIf="financialNumber.touched && financialNumber.hasError('financialNumber') && !financialNumber.hasError('required')"
                class="text-sm text-red-400 px-2 py-1">
                Invalid pattern. A financial number should consist of numbers, followed by a single letter. Ex: 250k,
                200m, .5b, etc.
            </div>
            <div *ngIf="financialNumber.touched && financialNumber.hasError('required')"
                class="text-sm text-red-400 px-2 py-1">
                An input is required.
            </div>
        </div>
    </form>
    <button type="submit"
        class="h-12 px-4 py-2 text-lg bg-emerald-800 rounded-md hover:bg-emerald-700 transition-colors duration-200 ease-in-out disabled:opacity-25 disabled:bg-emerald-800 disabled:cursor-not-allowed"
        (click)="processInput()">
        Format
    </button>
</div>