<div class="flex flex-col md:flex-row items-start md:items-center gap-4">
    <form (submit)="handleSubmit()">
        <div>
            <input
                class="h-12 px-4 py-2 w-full md:min-w-20 text-lg rounded-md bg-zinc-800 border-2 border-transparent hover:border-gray-600 focus:border-gray-500 transition-colors duration-200 ease-in-out outline-none"
                placeholder="Enter a financial number. Ex: 250k, 50m, .5b, etc." type="text" [formControl]="financialNumber" />
            <div *ngIf="financialNumber.hasError('financialNumber')" class="text-sm text-red-700">
                Invalid pattern. A financial number should consist of numbers, followed by a single letter. Ex: 250k.
            </div>
        </div>
    </form>
    <button type="submit"
        class="h-12 px-4 py-2 text-lg bg-emerald-800 rounded-md hover:bg-emerald-700 transition-colors duration-200 ease-in-out disabled:opacity-25 disabled:bg-emerald-800 disabled:cursor-not-allowed"
        [disabled]="!financialNumber.valid" (click)="handleSubmit()">
        Format
    </button>
</div>